@tailwind base;
@tailwind components;
@tailwind utilities;

.progSchool,.jsSchool,.webSchool{
    border-color: var(--div-color-data);
    background-color: var(--h1-color-data);
}

.progSchoolP,.jsSchoolP,.webSchoolP{
    background-color: var(--p-color-data);
}

.clasePrueba{
    background-color: var(--divCourse-color-data);
}

body{
    background-image: linear-gradient(180deg, #00040D 13.02%, rgba(47, 57, 64, 0) 100%),
    url('https://firebasestorage.googleapis.com/v0/b/personal-landing-540bc.appspot.com/o/bg.jpg?alt=media&token=4cec93b0-775e-44a5-9f14-e9fe16c759b4')
    ;
}

.input-box{
    word-wrap: break-word;
    word-break: break-word;
}

#scrollbar::-webkit-scrollbar-track
{
	border: 3px solid #353F47;
	background-color: #b2bec3;
}

#scrollbar::-webkit-scrollbar
{
	width: 8px;
	background-color: #353F47;
}

#scrollbar::-webkit-scrollbar-thumb
{
	background-color: #ECECEC;
	border-radius: 10px;
}

